In [21]:
import locationiq

In [4]:
from __future__ import print_function
import time
import locationiq
from locationiq.rest import ApiException
from pprint import pprint

In [5]:
# Configure API key authorization: key
configuration = locationiq.Configuration()
configuration.api_key['key'] = '152acd859f096a'
# Uncomment below to setup prefix (e.g. Bearer) for API key, if needed
# configuration.api_key_prefix['key'] = 'Bearer'

In [8]:
# create an instance of the API class for FORWARD/ Search GEOCODING
api_instance = locationiq.SearchApi(locationiq.ApiClient(configuration))
q = "Empire state building" # str | Address to geocode
format = "json" # str | Format to geocode. Only JSON supported for SDKs
normalizecity = 1 # int | For responses with no city value in the address section, the next available element in this order - city_district, locality, town, borough, municipality, village, hamlet, quarter, neighbourhood - from the address section will be normalized to city. Defaults to 1 for SDKs.
addressdetails = 1 # int | Include a breakdown of the address into elements. Defaults to 0. (optional)
viewbox = "-132.84908,47.69382,-70.44674,30.82531" # str | The preferred area to find search results.  To restrict results to those within the viewbox, use along with the bounded option. Tuple of 4 floats. Any two corner points of the box - `max_lon,max_lat,min_lon,min_lat` or `min_lon,min_lat,max_lon,max_lat` - are accepted in any order as long as they span a real box.  (optional)
bounded = 1 # int | Restrict the results to only items contained with the viewbox (optional)
limit = 10 # int | Limit the number of returned results. Default is 10. (optional) (default to 10)
accept_language = "en" # str | Preferred language order for showing search results, overrides the value specified in the Accept-Language HTTP header. Defaults to en. To use native language for the response when available, use accept-language=native (optional)
countrycodes = "us" # str | Limit search to a list of countries. (optional)
namedetails = 1 # int | Include a list of alternative names in the results. These may include language variants, references, operator and brand. (optional)
dedupe = 1 # int | Sometimes you have several objects in OSM identifying the same place or object in reality. The simplest case is a street being split in many different OSM ways due to different characteristics. Nominatim will attempt to detect such duplicates and only return one match; this is controlled by the dedupe parameter which defaults to 1. Since the limit is, for reasons of efficiency, enforced before and not after de-duplicating, it is possible that de-duplicating leaves you with less results than requested. (optional)
extratags = 0 # int | Include additional information in the result if available, e.g. wikipedia link, opening hours. (optional)
statecode = 0 # int | Adds state or province code when available to the statecode key inside the address element. Currently supported for addresses in the USA, Canada and Australia. Defaults to 0 (optional)

In [9]:
try:
    # Forward Geocoding
    api_response = api_instance.search(q, format, normalizecity, addressdetails=addressdetails, viewbox=viewbox, bounded=bounded, limit=limit, accept_language=accept_language, countrycodes=countrycodes, namedetails=namedetails, dedupe=dedupe, extratags=extratags, statecode=statecode)
    pprint(api_response)
except ApiException as e:
    print("Exception when calling SearchApi->search: %s\n" % e)

[{'_class': 'tourism',
 'address': {'borough': None,
             'city': 'New York',
             'city_district': None,
             'country': 'United States of America',
             'country_code': 'us',
             'county': 'New York County',
             'hamlet': None,
             'house_number': '350',
             'island': None,
             'neighbourhood': None,
             'postcode': '10001',
             'quarter': None,
             'residential': None,
             'road': '5th Avenue',
             'state': 'New York',
             'state_code': None,
             'state_district': None,
             'suburb': 'Manhattan',
             'town': None,
             'village': None},
 'boundingbox': ['40.7479226', '40.7489422', '-73.9864855', '-73.9848259'],
 'display_name': 'Empire State Building, 350, 5th Avenue, Korea Town, '
                 'Manhattan, New York, New York County, New York, 10001, USA',
 'importance': 0.85158684668746,
 'lat': '40.7484284',
 'licence': 'https://locationiq.com/attribution',
 'lon': '-73.9856546198733',
 'namedetails': {'name': 'Empire State Building'},
 'osm_id': '34633854',
 'osm_type': 'way',
 'place_id': '91421092',
 'type': 'attraction'},
 {'_class': 'tourism',
 'address': {'borough': None,
             'city': 'New York',
             'city_district': None,
             'country': 'United States of America',
             'country_code': 'us',
             'county': 'New York County',
             'hamlet': None,
             'house_number': '350',
             'island': None,
             'neighbourhood': None,
             'postcode': '10001',
             'quarter': None,
             'residential': None,
             'road': '5th Avenue',
             'state': 'New York',
             'state_code': None,
             'state_district': None,
             'suburb': 'Manhattan',
             'town': None,
             'village': None},
 'boundingbox': ['40.7481128', '40.7482128', '-73.9850458', '-73.9849458'],
 'display_name': 'Empire State Building, 350, 5th Avenue, Korea Town, '
                 'Manhattan, New York, New York County, New York, 10001, USA',
 'importance': 0.301,
 'lat': '40.7481628',
 'licence': 'https://locationiq.com/attribution',
 'lon': '-73.9849958',
 'namedetails': {'name': 'Empire State Building'},
 'osm_id': '2709306673',
 'osm_type': 'node',
 'place_id': '26790631',
 'type': 'attraction'}]

In [14]:
# create an instance of the API class for FORWARD/ Search GEOCODING
api_instance = locationiq.SearchApi(locationiq.ApiClient(configuration))
q = "Tirana, Albania" # str | Address to geocode
format = "json" # str | Format to geocode. Only JSON supported for SDKs

In [16]:
try:
    # Forward Geocoding
    api_response = api_instance.search(q, format, normalizecity = normalizecity)
    pprint(api_response)
except ApiException as e:
    print("Exception when calling SearchApi->search: %s\n" % e)

[{'_class': 'place',
 'address': None,
 'boundingbox': ['41.2955352', '41.3654237', '19.7547343', '19.876438'],
 'display_name': 'Tirana, Tirana Municipally, Tirana County, Central Albania, '
                 '1001-1028, Albania',
 'importance': 0.83376311271568,
 'lat': '41.3268733',
 'licence': 'https://locationiq.com/attribution',
 'lon': '19.8187913',
 'namedetails': None,
 'osm_id': '1250106',
 'osm_type': 'relation',
 'place_id': '236229652',
 'type': 'city'},
 {'_class': 'boundary',
 'address': None,
 'boundingbox': ['41.1160883', '41.5154043', '19.5937743', '20.2399515'],
 'display_name': 'Tirana Municipally, Tirana County, Central Albania, Albania',
 'importance': 0.82376311271568,
 'lat': '41.31588575',
 'licence': 'https://locationiq.com/attribution',
 'lon': '19.9009121644611',
 'namedetails': None,
 'osm_id': '1250113',
 'osm_type': 'relation',
 'place_id': '236112748',
 'type': 'administrative'},
 {'_class': 'amenity',
 'address': None,
 'boundingbox': ['41.3046623', '41.3047623', '19.4941041', '19.4942041'],
 'display_name': 'Tirana, Rruga Pavarësia, Durrës, Bashkia Durrës, Durrës '
                 'County, Northern Albania, 2001, Albania',
 'importance': 0.221,
 'lat': '41.3047123',
 'licence': 'https://locationiq.com/attribution',
 'lon': '19.4941541',
 'namedetails': None,
 'osm_id': '6857509696',
 'osm_type': 'node',
 'place_id': '78353969',
 'type': 'bank'},
 {'_class': 'amenity',
 'address': None,
 'boundingbox': ['41.4791038', '41.4792038', '19.7210789', '19.7211789'],
 'display_name': 'Tirana, SH38, Fushë-Krujë, Bashkia Krujë, Durrës County, '
                 'Northern Albania, 1502, Albania',
 'importance': 0.221,
 'lat': '41.4791538',
 'licence': 'https://locationiq.com/attribution',
 'lon': '19.7211289',
 'namedetails': None,
 'osm_id': '6844882194',
 'osm_type': 'node',
 'place_id': '71564016',
 'type': 'bank'}]

In [59]:
TEXT_FILENAME = 'Data/NoGeos.csv'

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv(TEXT_FILENAME)
df.head()

,incident_id,n_victims_id,n_traffickers_id,from_country,from_statecounty,from_locationtown,from_address,from_latitude,from_longitude,to_country,...,via_locationtown_2,via_address_2,via_latitude_2,via_longitude_2,via_ctry_3,via_statecounty_3,via_locationtown_3,via_address_3,via_latitude_3,via_longitude_3
0,04e513c45c6b4da1b18c4d3cfb6e8eb1,0.0,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,United Kingdom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07007fa0d99c49a38a9e75c349f0ef6b,0.0,NaN,United Kingdom,Greater London,Westminster,NaN,NaN,NaN,United Kingdom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0921bc216de4474097ad95c8025c3133,0.0,NaN,United Kingdom,London,RBKC,NaN,NaN,NaN,United Kingdom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,096a09b1c49846b6b6e5557daea22bd1,NaN,0.0,Albania,NaN,NaN,NaN,NaN,NaN,Albania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,096a09b1c49846b6b6e5557daea22bd1,NaN,1.0,Albania,NaN,NaN,NaN,NaN,NaN,Albania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df2 = df.assign(location=lambda ','.join([x.from_country, x.from_statecounty, x.from_locationtown, x.from_address]))

SyntaxError: invalid syntax (<ipython-input-62-43922e38538c>, line 1)

In [ ]:
df3 = df2.assign(geo=lambda x:)